<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KinectImageConvertSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KinectImageConvertSender.Properties.Settings>
            <setting name="TopMask" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BottomMask" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LeftMask" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RightMask" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PositionOffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PositionOffsetY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GetConnectIP" serializeAs="String">
                <value>localhost</value>
            </setting>
        </KinectImageConvertSender.Properties.Settings>
    </userSettings>
</configuration>